body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: rotateBox 10s infinite;
}

@keyframes rotateBox {
  0% {
    transform: rotate(0deg);
    background-color: red;
  }
  25% {
    transform: rotate(90deg);
    background-color: blue;
  }
  50% {
    transform: rotate(180deg);
    background-color: green;
  }
  75% {
    transform: rotate(270deg);
    background-color: yellow;
  }
  100% {
    transform: rotate(360deg);
    background-color: red;
  }
}
